@tailwind base;
@tailwind components;
@tailwind utilities;

nav a{
    margin: 10px;
}
nav a.active {
    background-color: skyblue;
    color: white;
}

h1 {
    color: black;
    size: 20px;
}

.card {
    @apply bg-white shadow-sm rounded-lg overflow-hidden;
}

.card-content {
    @apply text-lg font-semibold
}

table {
    @apply w-full text-sm text-left
}
thead {
    @apply uppercase bg-gray-500
}

table, th, td {
    @apply border-solid border-2
  }